
.progress-row{
  display: flex;
  justify-self: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 4rem;

  ion-label{
    font-size: 1.2rem;
  }

}
.progress-container{
  display: flex;
  width: 100%;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

ion-progress-bar.progress-bar{
  --progress-background: var(--primary-green-color);
  width: 100%;
  border-radius: 30px;
  min-height: 0.8rem;

}
