<!-- FILA 1: chips seleccionados -->
@if (selected().length > 0) {
  <ion-row class="selected-chips-row">
    <ion-col size="12" class="center-container-column">
      @for (ing of selected(); track ing.id) {
        <ion-chip color="primary">
          <ion-label>{{ ing.name }}</ion-label>
        </ion-chip>
      }
    </ion-col>
  </ion-row>
}

<ion-row class="button-row">
  <ion-col size="2" class="center-container-row">
    <ion-img src="assets/images/ingredient-image.png"></ion-img>
  </ion-col>

  <ion-col size="5" class="center-container-row">
    <ion-button
      class="select-button"
      expand="block"
      [disabled]="selected().length === 0"
      (click)="applyFilter()">
      Aplicar ({{ selected().length }})
    </ion-button>
  </ion-col>

  <ion-col size="5" class="center-container-row">
    <ion-button
      class="clean-all"
      expand="block"
      fill="outline"
      (click)="clearAll()">
      Limpiar todos
    </ion-button>
  </ion-col>
</ion-row>

<app-searcher-ingredient></app-searcher-ingredient>
