<app-header></app-header>
<ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true" [fullscreen]="true">
  <ion-row class="ion-align-items-center">
    <ion-col size="9" class="search-bar ion-justify-content-center">
      <app-searcher></app-searcher>
    </ion-col>
    <ion-col size="3">
      <ion-button (click)="openModal()" class="filter-home" expand="block">
        <ion-icon name="options-sharp" class="filter-icon"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-align-items-center select">
    <ion-button [routerLink]="'/categories'" fill="clear" class="ingredient-button select">
      <ion-icon slot="start" name="add-circle-sharp"></ion-icon>
        Busca por Ingredientes
    </ion-button>
  </ion-row>
  @for (recipe of recipes(); track recipe.id){
    <app-home-card [recipe]="recipe"></app-home-card>
  }@empty {
    <ion-col>
      <p class="ion-text-center">No hay recetas disponibles</p>
    </ion-col>
  }
  <app-filter
    [initialPreferences]="user?.preferences ?? []"
    (preferencesChange)="onPreferencesChange($event)">
  </app-filter>
</ion-content>
<app-footer-nav></app-footer-nav>
