<ion-row class="row-history-logros">
  <ion-col class="center-container-row container-images">
    <ion-img
      class="img-history"
      [src]="'assets/images/chef_hat.png'"
      alt="GrandChefSupreme Logo">
    </ion-img>
    <h3>13</h3>
    <ion-label>Cocinadas</ion-label>
  </ion-col>
  <ion-col class="center-container-row container-images">
    <ion-img
      class="img-history"
      [src]="'assets/images/active_day.png'"
      alt="GrandChefSupreme Logo">
    </ion-img>
    <h3>7</h3>
    <ion-label>Días Activos</ion-label>
  </ion-col>
  <ion-col class="center-container-row container-images">
    <ion-img
      class="img-history"
      [src]="'assets/images/star.png'"
      alt="GrandChefSupreme Logo">
    </ion-img>
    <h3>4.4</h3>
    <ion-label>Valoración</ion-label>
  </ion-col>
</ion-row>
