<ion-row class="row-register-form">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item class="custom-input" color="light">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input
        formControlName="username"
        type="text"
        placeholder="Nombre de Usuario"
        class="form-input-register">
      </ion-input>
    </ion-item >
    <ion-item class="custom-input" color="light">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-input
        formControlName="email"
        type="text"
        placeholder="Correo electrónico"
        class="form-input-register">
      </ion-input>
    </ion-item>
    <ion-item class="custom-input" color="light">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input
        formControlName="rawPassword"
        type="password"
        placeholder="Ingresa tu contraseña"
        class="form-input-register">
      </ion-input>
    </ion-item>
    <ion-item class="custom-input" color="light">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input
        formControlName="passwordRepeat"
        type="password"
        placeholder="Repite tu contraseña"
        class="form-input-register">
      </ion-input>
    </ion-item>
    <ion-row class="center-container-row">
      <ion-button type="submit" expand="block" [disabled]="form.invalid" class="form-buttons">CREAR CUENTA</ion-button>
    </ion-row>
  </form>

</ion-row>
