ion-modal {
  --height: 60%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --color: var(--primary-green-color);
  --background: white;
}
.modal-title{
  font-size: 1.5rem;
  display: flex;
  justify-self: left;
  padding: 1rem;
}

.close-icon{
  color: var(--secondary-orange-color);
}

.input-title-collect{
  width: 80%;
  display: flex;
  justify-self: center;
  align-self: center;
  align-items: center;
}

ion-icon.icon-folder{

  position: absolute;
  --color: white;
}




