ion-footer, ion-footer ion-toolbar {
  --background: #fff;
  border: none;
  box-shadow: none;
  transition: transform 0.3s ease;
}


ion-button.footer-button ion-icon {
  --ion-icon-size: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  color: var(--primary-green-color);
}

ion-button.footer-button.active {
  --background: var(--primary-green-color);
  color: #fff;
}
ion-button.footer-button.active ion-icon {
  color: #fff;
}

.footer-row{
  display: flex;
  justify-content: space-around;
}
