.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-modal {
  --height: auto;
}

.bottom-modal {
  --height: 45vh;
  --border-radius: 16px 16px 0 0;
  align-items: flex-end;
}


.filter-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}

.toggle-options{
  width: 90vw;
  border-radius: 30px;
  font-weight: bolder;

}

.close-icon{
  color: var(--secondary-orange-color);
  font-size: 25px;
}

.title-filter{
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--primary-green-color);

}

.filter-row{
  margin-bottom: 2rem;
}
