<ion-grid>
  <ion-row>
    <ion-col class="col-item-ingr">
      <ion-label class="category-label">
        {{ingredient().name}}
      </ion-label>
      <ion-item
        lines="none"
        (click)="toggle()"
        class="item-ingr ion-padding"
        [class.selected]="isSelected()">
        <ion-img [src]="ingredient().urlPhoto">
          @if(isSelected()){
            <ion-icon
              name="checkmark-circle"
              class="check-icon">
            </ion-icon>
          }
        </ion-img>
        <ion-label>{{ ingredient().name }}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

