.custom-header {
  padding-top: env(safe-area-inset-top);
  background-color: var(--primary-orange-color);
  height: 125px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  left: 1rem;
  color: white;
  font-size: 1.5rem;
  gap: 0.5rem;

}

ion-icon.close-icon{
  color: white;
}
