<ion-content>
<ion-grid>
  <ion-row class="header-section-row">
    <ion-col class="header-section" size="2">
      <ion-icon (click)="onClose()"  class="go-back" name="chevron-back-sharp"></ion-icon>
    </ion-col>
    <ion-col size="10" class="center-container-row">
      <ion-img src="assets/images/logo.png" alt="Logo GrandSmartChef" class="logo-session-smart"></ion-img>
      <h3 class="section-title">Registro</h3>
    </ion-col>
  </ion-row>
  <app-register-form (formSubmit)="createClient($event)"></app-register-form>
  <ion-row class="ion-padding center-container-row">
    <span class="no-account">¿Ya tienes cuenta?<a class="login" routerLink="/login">Inicia Sesión</a></span>
  </ion-row>
  <ion-text class="center-text">
    <p>Al registrarte, aceptas nuestros <a class="conditions" routerLink="">Términos y Condiciones</a> y la <a class="politics" routerLink="">Política de Privacidad</a></p>
  </ion-text>
</ion-grid>


</ion-content>
