.custom-input {
  margin-bottom: 10px;

  ion-label {
    font-weight: 600;
    color: #444;
    margin-bottom: 8px;
    margin-left: 8px;
    font-size: medium;
  }

}

.remember-row {
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 4px;
  padding-left: 20px;
  font-size: 1rem;

}

.forgot-row{
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 0.9rem;

}

