.no-account a.login {
  margin: 0.5rem;
  color: var(--primary-orange-color);
  text-decoration: none; /* Sin subrayado */
  font-weight: bolder;
}
p{
    margin: 2rem;

}

a.conditions{
  color: var(--secondary-orange-color);
}

a.politics{
  color: #000000;
  font-weight: bold;
}
