<ion-modal
  [isOpen]="isOpen()"
  (didDismiss)="onModalDismiss()"
  [backdropDismiss]="true">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="close()"><ion-icon class="close-icon" name="close-circle-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-label class="modal-title">¿Cómo valoras la receta?</ion-label>
      <p class="modal-subtitle">Califica tu experiencia</p>
      <ion-row class="stars">
        @for (icon of stars();track $index){
        <ion-icon
          [name]="icon"
          color="warning"
          class="star-card"
          (click)="setRating($index)"
          (mouseenter)="setHoverRating($index)"
          (mouseleave)="resetHoverRating()">
        </ion-icon>
        }
      </ion-row>
      <ion-row class="ion-margin-top center-container-row">
        <ion-button fill="outline" size="small" (click)="toggleComment()">
          Comentar
        </ion-button>
      </ion-row>
      @if (showComment()){
        <ion-row>
          <ion-col>
            <ion-textarea
              class="textarea-rating shadow-box"
              placeholder="Escribe tu comentario..."
              (ionInput)="comment.set($any($event.target).value)">
            </ion-textarea>
          </ion-col>
        </ion-row>
      }
      <ion-row class="center-container-row">
        <ion-button type="submit" expand="block" class="qualify-button">Puntuar</ion-button>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>

