ion-modal {
  --height: 60%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: var(--primary-green-color);
  --color: white;
}
.modal-title{
  font-size: 1.5rem;
  display: flex;
  justify-self: center;
  padding: 1rem;
}

.modal-subtitle{
  text-align: center;
  color: var(--primary-gray-color);
  font-size: 1.2rem;
}

.stars{
  font-size: 3rem;
  justify-content: center;
}

ion-button.qualify-button{
  --background: var(--primary-green-color);
  --border-radius: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
  --font-size: 1rem;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: block;
  width: 50%;
  height: 50px;
  margin-top: 2rem;

}

.textarea-rating{
  width: 80%;
  min-height: 15vh !important;
  align-self: center;
  justify-self: center;
  text-align: center;
  border: 1px solid var(--primary-gray-color);

}


