h3{
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--primary-dark-color);
}


.image-header {
  position: relative;
  width: 100%;
  height: 27vh;
  ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.detail-item{
  display: flex;
  align-items: center;
  text-align: center;
  ion-icon {
    margin-right: 0.5rem;
  }
}

.item-step{
  align-items: center;
  ion-col{
    flex-wrap: wrap;
  }
}


.header-buttons {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0 16px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle-button {
  --background: rgba(0, 0, 0, 0.5);
  --color: white;
  --border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  z-index: 999999;
}

.col-back-button{
  display: flex;
  align-items: center;
  justify-content: left;
}
.col-favorite-button{
  display: flex;
  align-items: center;
  justify-content: right;
}


.ingredient-list {
  width: 100%;
  padding: 0 1rem;
}

.ingredient-item {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;

}

.quantity {
  display: flex;
  text-align: left;
  flex: 0;
  font-weight: bold;
  color: var(--primary-gray-color);
}

.name {
  text-align: left;
  margin-left: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  word-break: break-word;
}
ion-button.buy-button ion-icon {
  margin-right: 0.2rem;
}


ion-button.score ion-icon {
  margin-right: 0.5rem;
}

.nutrients{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  min-width: 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
    h5{
      margin: 0;
      padding: 0.5rem;
      color: var(--primary-gray-color);
    }
}

.nutrition-values{
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--primary-orange-color);
}

.nutrients-row{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
}

.quantity-span{
  margin-left: 0.3rem;
}
