<ion-content (ionScroll)="onScroll($event)" [fullscreen]="true">

  <div class="image-container" style="position: relative;">

    <img
      class="recipe-image-preview"
      [src]="previewUrl || getRecipeImage(recipe()?.imageUrl)"
      alt="Imagen de la receta">

    <ion-fab vertical="top" horizontal="start" slot="fixed" class="fab-top-left">
      <ion-button fill="clear" class="circle-button" (click)="onClose()">
        <ion-icon size="large" name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-fab>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-bottom-right">
      <ion-fab-button (click)="pickImage()" class="camera-button">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <input
      type="file"
      #fileInput
      hidden
      accept="image/*"
      (change)="onFileSelected($event)">
  </div>

  <ion-grid>

    <ion-row class="row-item">
      <h3>Título</h3>
      <ion-item lines="full" class="recipe-name-item">
        <ion-input [(ngModel)]="form.name" placeholder="Nombre de la receta"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row class="ion-padding-horizontal center-container-column main-data-row">
      <ion-col size="3" class="detail-item">
        <h3>Minutos</h3>
        <ion-icon name="timer-outline" size="large"></ion-icon>
        <ion-input [(ngModel)]="form.prepTime" placeholder="minutos"></ion-input>
      </ion-col>

      <ion-col size="3" class="detail-item">
        <h3>Raciones</h3>
        <ion-icon name="people-outline" size="large"></ion-icon>
        <ion-input [(ngModel)]="form.servings" placeholder="personas"></ion-input>
      </ion-col>

      <ion-col size="3" class="detail-item">
        <h3>Dificultad</h3>
        <ion-icon name="speedometer-outline" size="large"></ion-icon>
        <ion-input [(ngModel)]="form.difficulty" placeholder="dificultad"></ion-input>
      </ion-col>
    </ion-row>

      <ion-row class="row-item">
        <h3>Tags</h3>

        <ion-item class="item-tag" (click)="openTagModal()">
          <ion-label>
            {{ selectedTagName || 'Seleccionar tag' }}
          </ion-label>

          <ion-button fill="clear" class="add-btn" (click)="addTag()">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-row class="tags-row">
          @for (tg of form.tags; track tg.id; let i = $index) {
            <ion-col size="auto">
              <ion-button
                size="small"
                shape="round"
                class="button-tags"
                type="button"
                (click)="removeTag(i)">

                {{ tg.name }}

                <ion-icon
                  name="close"
                  style="margin-left:4px">
                </ion-icon>

              </ion-button>
            </ion-col>
          }
        </ion-row>
      </ion-row>

    <ion-row class="row-item">
      <h3>Descripción</h3>
      <ion-item class="recipe-name-item" lines="none">
        <ion-textarea
          auto-grow="true"
          [(ngModel)]="form.description"
          placeholder="Describe la receta…">
        </ion-textarea>
      </ion-item>
    </ion-row>

    <ion-row class="row-item">
      <h3>Ingredientes</h3>

      <ion-item class="ingredient-line">

        <ion-input
          class="input-ingr "
          [(ngModel)]="ingredientQty"
          placeholder="Cantidad">
        </ion-input>

        <div
          class="fake-ion-select"
          (click)="openUnitModal()">
          <span class="fake-select-text">
            {{getSelectedUnitLabel()}}
          </span>

          <ion-icon
            name="chevron-down-outline"
            class="fake-select-icon">
          </ion-icon>
        </div>
        <div
          class="fake-ion-select"
          (click)="openIngredientModal()">

          <span class="fake-select-text">
            {{ selectedIngredientName || 'Ingrediente' }}
          </span>

          <ion-icon
            name="chevron-down-outline"
            class="fake-select-icon">
          </ion-icon>
        </div>

        <ion-button
          fill="clear"
          class="add-btn"
          (click)="addIngredient()">
          <ion-icon name="add"></ion-icon>
        </ion-button>

      </ion-item>


      <ion-list class="ingredient-list">
        @for (ing of form.ingredients; track ing.ingredientId; let i = $index) {
          <ion-item class="ingredient-item">
            <ion-col size="3">
              <ion-label class="quantity">
                {{ ing.quantity }} <span>{{ ing.unit }}</span>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="name">{{ ing.ingredientName }}</ion-label>
            </ion-col>
            <ion-button fill="clear" color="danger" (click)="removeIngredient(i)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-item>
        }
      </ion-list>
    </ion-row>

    <!-- PASOS -->
    <ion-row class="row-item">
      <h3>Preparación</h3>
      <ion-item class="recipe-name-item">
        <ion-input [(ngModel)]="stepInput" placeholder="Nuevo paso…"></ion-input>
        <ion-button fill="solid" class="add-btn" (click)="addStep()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-list class="recipe-name-item">
        @for (step of form.steps; track $index; let i = $index) {
          <ion-item lines="none" class="step-item">
            <ion-button class="steps">{{ i + 1 }}</ion-button>
            <ion-label class="name ion-padding-horizontal">{{ step }}</ion-label>
            <ion-button fill="clear" color="danger" (click)="removeStep(i)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-item>
        }
      </ion-list>
    </ion-row>

    <!-- BOTÓN GUARDAR -->
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-button
        expand="block"
        class="save-btn"
        [disabled]="!formValid"
        (click)="saveLocal()">
        GUARDAR
      </ion-button>
    </ion-row>
  </ion-grid>
  <app-ingredient-modal></app-ingredient-modal>
  <app-tag-modal></app-tag-modal>
  <app-units-modal></app-units-modal>



</ion-content>
