.button-row{
  padding: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  justify-self: center;
}


ion-button.select-button{
  --background: var(--secondary-green-color);
  flex: 1 1 25%;
  font-size: 0.9rem;
  width: 32vw;
}

ion-button.clean-all{
  flex: 1 1 25%;
  width: 32vw;
  font-size: 0.9rem;
  --background: var(--secondary-orange-color);

}
