spring:

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  application:
    name: GranChefSupreme

  main:
    allow-bean-definition-overriding: true

  profiles:
    active: postgres

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always