ion-icon.icon-profile{
  color: var(--primary-green-color);
}


.toggle-options{
  width: 80vw;
  border-radius: 10px;
  font-weight: bolder;

}

ion-text{
  display: flex;
  justify-content: left;
}

.preferences{

  width: 85vw;
  font-weight: bolder;
  color: var(--primary-green-color);
  h3{
    font-size: 1.2rem;
  }
}

.filter-profile{
  display: flex;
  width: 100vw;
  gap: 1rem;
}

