.container-user{
  display: flex;
  align-items: flex-end;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  bottom: -0.5rem;
  right: 2rem;
}

.contact-icon{
  color: var(--primary-orange-color);
  font-weight: bold;
  ion-icon{
    color: var(--primary-orange-color);
    font-size: 35px;
    margin-right: 0.5rem;
  }
}

.info-icon{
  color: var(--primary-green-color);
  font-weight: bold;
  ion-icon{
    color: var(--primary-green-color);
    font-size: 35px;
    margin-right: 0.5rem;
  }
}

.setting-icon{
  color: var(--primary-gray-color);
  font-weight: bold;
  ion-icon{
    color: var(--primary-gray-color);
    font-size: 35px;
    margin-right: 0.5rem;
  }
}

.help-icon{
  color: var(--primary-blue-color);
  font-weight: bold;
  ion-icon{
    color: var(--primary-blue-color);
    font-size: 35px;
    margin-right: 0.5rem;
  }
}

.log-out-icon{
  color: var(--secondary-orange-color);
  font-weight: bold;
  ion-icon{
    color: var(--secondary-orange-color);
    font-size: 35px;
    margin-right: 0.5rem;
  }
}





