.contact-card {
  border-radius: 20px;
  justify-content: center;
  text-align: center;
}

.subtitle-collection{
  display: flex;
  justify-content: end;
}

.header-collection{
  --padding-bottom: 0;
  text-align: center;
  ion-label{
    font-weight: bolder;
  }
}

ion-card-content{
  ion-text{
    text-align: left;
  }
}

