.row-register-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.custom-input {
  --background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  --min-height: 56px;
  border: 1px solid #ccc;
  margin-bottom: 2.2rem;
  width: 80vw;
}


ion-icon{
  color: var(--primary-gray-color);
}

.image-container {
  position: relative;
  display: inline-block;
  padding:1.5rem;
}

.user-image-profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.fab-bottom-right {
  position: absolute;
  bottom: 3.5rem;
  right: 3rem;
  transform: translate(20%, 20%);
}
