<ion-card [routerLink]="['/main-recipe', recipe().id]">
  <img
    class="img-card"
    [src]="getRecipeImage(recipe().imageUrl)"
    alt="imagen receta">

  <ion-card-header>
    <ion-grid>
      <ion-row class="title-row">
        <ion-card-title>{{recipe().name}}</ion-card-title>
        <ion-col size="8" class="ion-no-padding">
        <ion-card-subtitle>
          @for (star of getStars(); track $index) {
            <ion-icon
              [name]="star === 'full' ? 'star' : (star === 'half' ? 'star-half' : 'star-outline')"
              color="warning"
              class="star-card"></ion-icon>
          }
          <span class="span-rating">{{recipe().averageRating}}</span>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="4" class="ion-align-items-center ion-text-end">
          <ion-icon name="share-social-sharp" class="share-icon"></ion-icon>
          <ion-icon
            class="favorite-icon"
            [name]="isInFavorites() ? 'heart' : 'heart-outline'">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="tags-row">
        @for (tag of recipe()?.tags; track tag.id) {
        <ion-col size="auto" class="ion-no-padding">
          <ion-button class="button-tags" shape="round" size="small">{{tag.name}}</ion-button>
        </ion-col>
        }
      </ion-row>
      <ion-row class="ion-justify-content-between ion-padding-vertical">
        <ion-col size="auto" class="detail-item">
          <ion-icon name="timer-outline" size="large"></ion-icon><span>{{recipe().prepTime}}</span>
        </ion-col>
        <ion-col size="auto" class="detail-item">
          <ion-icon name="people-outline" size="large"></ion-icon><span>{{recipe().servings}}</span>
        </ion-col>
        <ion-col size="auto" class="detail-item">
          <ion-icon name="speedometer-outline" size="large"></ion-icon><span>{{recipe().difficulty}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
