ion-grid{
  margin: 0;
}
ion-card {
  border-radius: 25px !important;
  ion-card-header{
    padding: 5px 10px;
  }
  ion-card-content{
    padding: 0 10px 8px 10px;
  }
}

.img-card{
  object-fit: cover;
  max-height:20vh;
  width: 100%;
}

.star-card{
  font-size: 35px;
}

ion-card-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 2%;
}

ion-card-subtitle{
  display: flex;
  align-items: center;
  justify-items: left;
  padding: 0;
  ion-icon {
    font-size: 1.5rem;
  }
}

.span-rating{

  margin-left: 3%;
}

.share-icon {
  font-size: 35px;
  margin-left: 10px;
  color: var(--primary-gray-color);
}

.favorite-icon {
  font-size: 35px;
  margin-left: 10px;
  color: var(--primary-orange-color);

}



.detail-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
  color: var(--primary-gray-color);
}

