.buttons-row-history {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}


.row-date {
  display: flex;
  justify-content: center;

}

.col-add-history {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-input {
  --background: #FFFFFF;
  --border-radius: 12px;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
}

@media (min-width: 768px) {
  .row-date {
    justify-content: flex-start;
  }

  .col-add-history {
    justify-content: flex-end;
  }
}
