<ion-row class="center-container-row filter-profile">
  <ion-text class="justify-left preferences">
    <h3><b>Preferencias alimentarias</b></h3>
  </ion-text>

  @for (opt of options; track opt.id) {
    <ion-item class="toggle-options shadow-box">
      <ion-label>
        <h3><b>{{ opt.title }}</b></h3>
        <p>{{ opt.description }}</p>
      </ion-label>

      <ion-toggle
        class="custom-toggle"
        slot="end"
        [checked]="isSelected(opt.id)"
        (ionChange)="onToggle(opt.id, $event.detail.checked)">
      </ion-toggle>
    </ion-item>
  }
</ion-row>
