<ion-item
  class="custom-input selectable-item"
  color="light"
  [detail]="false"
  (click)="openPreferencesModal()"
>
  <ion-icon
    name="restaurant-outline"
    slot="start"
    class="form-icon"
  ></ion-icon>

  <ion-label class="placeholder-label">
    {{ selectedLabel() || 'Preferencias alimentarias' }}
  </ion-label>

  <ion-button
    fill="clear"
    slot="end"
    class="open-modal-btn"
    (click)="openPreferencesModal(); $event.stopPropagation()"
  >
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-item>

<ion-modal
  [isOpen]="modalOpen"
  [initialBreakpoint]="0.65"
  [breakpoints]="[0.45, 0.65]"
  (didDismiss)="modalOpen = false"
>
  <ng-template>
    <ion-content class="ion-padding">
      <ion-col class="ion-padding">
        <ion-list>
          @for (opt of options; track opt.id) {
            <ion-item lines="none" class="item-preferences">
              <ion-label>
                <h3>{{ opt.title }}</h3>
                <p>{{ opt.description }}</p>
              </ion-label>

              <ion-toggle
                class="custom-toggle"
                slot="end"
                [checked]="isSelected(opt.id)"
                (ionChange)="onToggle(opt.id, $event.detail.checked)"
              ></ion-toggle>
            </ion-item>

            <p></p>
          }
        </ion-list>

        <ion-button
          expand="block"
          class="confirm-btn"
          (click)="modalOpen = false"
        >
          Aceptar
        </ion-button>
      </ion-col>
    </ion-content>
  </ng-template>
</ion-modal>
