<ion-row class="center-container-row filter-profile">
<ion-text class="justify-left preferences">
  <h3><b>Preferencias alimentarias</b></h3>
</ion-text>
<ion-item class="toggle-options shadow-box">
  <ion-label>
    <h3><b>Vegetariana</b></h3>
    <p>Evitar recetas con carne o pescado</p>
  </ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item class="toggle-options shadow-box">
  <ion-label>
    <h3><b>Sin Gluten</b></h3>
    <p>Evitar productos con gluten</p>
  </ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item class="toggle-options shadow-box">
  <ion-label>
    <h3><b>Rápidas</b></h3>
    <p>Recetas rápidas < 30 min</p>
  </ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<ion-item class="toggle-options shadow-box">
  <ion-label>
    <h3><b>Económicas</b></h3>
    <p>Recetas baratas con coste < 10€</p>
  </ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>

</ion-row>
