<ion-col size="2" class="container-user">
  <ion-button fill="clear" (click)="openPopover($event)">
    <ion-img
      class="user-image"
      [src]="auth.getCurrentUserPhoto()"
      alt="User image">
    </ion-img>
  </ion-button>

  <ion-popover
    [isOpen]="isPopoverOpen"
    [event]="popoverEvent"
    (didDismiss)="closePopover()"
    side="bottom"
    alignment="start"
    size="auto"
    [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list class="icon-list">
          <ion-item routerLink="/contact" class="contact-icon" [button]="true" [detail]="false"><ion-icon name="chatbubble-outline"></ion-icon>Contacto</ion-item>
          <ion-item routerLink="/info" class="info-icon" [button]="true" [detail]="false"><ion-icon name="information-circle-outline"></ion-icon>Información</ion-item>
          <ion-item routerLink="/settings" class="setting-icon" [button]="true" [detail]="false"><ion-icon name="settings-outline"></ion-icon>Configuración</ion-item>
          <ion-item routerLink="/help" class="help-icon" [button]="true" [detail]="false"><ion-icon name="help-circle-outline"></ion-icon>Ayuda</ion-item>
          <ion-item lines="none" class="log-out-icon" [button]="true" [detail]="false" (click)=logOut()><ion-icon name="log-out-outline"></ion-icon>Cerrar Sesión</ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-col>
