<ion-modal
  [isOpen]="isOpen()"
  (didDismiss)="onModalDismiss()"
  [backdropDismiss]="true">

  <ion-content>
    <ion-toolbar>
      <ion-row class="ion-padding">
        <ion-col size="auto" class="subtitle-collection">
          <ion-icon size="large" name="folder"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-title class="ion-text-start ion-no-padding">
            Nueva Colección
          </ion-title>
        </ion-col>
      </ion-row>

      <ion-buttons slot="end">
        <ion-button color="light" (click)="onClose()">
          <ion-icon
            size="large"
            class="close-icon"
            name="close-circle-outline">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-row class="input-title-collect ion-padding">
      <ion-col>
        <ion-input
          type="text"
          fill="outline"
          clear-input="true"
          label="Título"
          labelPlacement="floating"
          class="custom-input"
          (ionInput)="updateTitle($event)">
        </ion-input>
      </ion-col>

      <ion-col size="2" class="center-container-column">
        <ion-button
          class="sub-collection-button"
          (click)="saveCollection()">
          <ion-icon
            class="icon-folder"
            size="large"
            name="checkmark-done-circle">
          </ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <app-choose-color
      (colorSelected)="selectedColor.set($event)">
    </app-choose-color>

  </ion-content>

</ion-modal>
