
<ion-content [fullscreen]="true">
  <ion-grid class="center-container-row">
    <ion-row class="center-container-row ion-padding">
      <h3>¿Nos das algunos datos más?</h3>
    </ion-row>
    <ion-row class="center-container-row ion-padding">

      <div class="image-container">
        <ion-label>
          <h2><b>Foto</b></h2>
        </ion-label>
        <ion-img
          class="user-image-profile"
          [src]="previewUrl || 'assets/images/users/default_profile_image.png'"
          alt="User image">
        </ion-img>
        <ion-fab class="fab-bottom-right" horizontal="end">
          <ion-fab-button class="camera-button" (click)="pickImage()">
            <ion-icon name="camera" class="camera-icon"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <input type="file" #fileInput (change)="onFileSelected($event)" hidden accept="image/*">
      </div>
    </ion-row>

    <form [formGroup]="formSignal()" (ngSubmit)="CompleteRegister()">
      <ion-item class="custom-input" color="light">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input
          formControlName = "fullName"
          type="text"
          placeholder="Nombre Completo (Obligatorio)"
          class="form-input-register">
        </ion-input>
      </ion-item >
      <ion-item
        class="custom-input date-input"
        color="light"
        (click)="openDateModal()">

        <ion-icon name="calendar-number-outline" slot="start"></ion-icon>

        <ion-label
          class="date-placeholder"
          [class.has-value]="!!birthdateDisplay">

          {{ birthdateDisplay || 'Fecha nacimiento (Opcional)' }}

        </ion-label>
      </ion-item>

      <ion-item
        class="custom-input"
        color="light"
        (click)="openCountryModal()">

        <ion-icon name="location-outline" slot="start"></ion-icon>

        <ion-label
          class="date-placeholder"
          [class.has-value]="!!formSignal().get('country')?.value">

          {{ formSignal().get('country')?.value || 'País (Opcional)' }}

        </ion-label>
      </ion-item>
      <app-filter-profile
        (preferencesChange)="onPreferencesChange($event)">
      </app-filter-profile>
      <ion-row class="center-container-row ion-padding-vertical">
        <ion-button type="submit" expand="block" [disabled]="formSignal().invalid" class="form-buttons final-register-client">FINALIZAR</ion-button>
      </ion-row>
    </form>
  </ion-grid>
  <app-date-modal></app-date-modal>
  <app-country-modal></app-country-modal>
</ion-content>
