<ion-grid>
  <ion-row>
      <ion-col class="col-item-ingr">
        <ion-label class="category-label">
          {{category().name}}
        </ion-label>
        <ion-item
          button lines="none"
          detail="false"
          (click)="onCategoryClick()"
          class="item-ingr ion-padding">
          <ion-img [src]="category().photoUrl" [alt]="category().name">
            <ion-icon class="check-icon" name="checkmark-circle-outline"></ion-icon>
          </ion-img>
        </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>

