ion-grid {
  margin: 0;
}

ion-card {
  border-radius: 25px !important;

  ion-card-header {
    padding: 5px 10px;
  }

  ion-card-content {
    padding: 0 10px 8px 10px;
  }
}

/* Imagen */
.img-card {
  object-fit: cover;
  max-height: 20vh;
  width: 100%;
}

/* Rating */
.star-card {
  font-size: 35px;
}

ion-card-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 2%;
}

ion-card-subtitle {
  display: flex;
  align-items: center;
  ion-icon {
    font-size: 1.5rem;
  }
}

.span-rating {
  margin-left: 3%;
}

/* Icons derecha */
.share-icon {
  font-size: 35px;
  margin-left: 10px;
  color: var(--primary-gray-color);
}

.favorite-icon {
  font-size: 35px;
  margin-left: 10px;
  color: var(--primary-orange-color);
}

/* Details */
.detail-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
  color: var(--primary-gray-color);
}

/* ACTION BUTTONS */
.actions-row {
  gap: 12px;
}

/* Botón EDITAR (verde secondary) */
.edit-btn {
  --background: var(--secondary-green-color);
  --background-hover: var(--secondary-green-color-hover);
  --color: white;
  border-radius: 15px;
  font-weight: bold;
}

/* Botón ELIMINAR (orange secondary) */
.delete-btn {
  --background: var(--secondary-orange-color);
  --background-hover: var(--secondary-orange-color-hover);
  --color: white;
  border-radius: 15px;
  font-weight: bold;
}
