spring:

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/grandsmartchefdb}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:validate}
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


application:
  storage:
    profile-photos: /data/uploads/profile
  security:
    jwt:
      secret-key: NzY4ZjI2MTMxZjg0ZjU5MWQzNjE2ZjQ1ZThkZGI5NGE3NDcyZjRmMTY2ZjQ5NzUw
      expiration-ms: 3600000

