
.container-datepicker{
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-width: 80%;
  justify-content: space-between;
  margin-bottom: 2rem;


}
ion-input.input-date{
  --border-color: var(--primary-green-color);
}


