<ion-card class="ingredient-card-list">
  <ion-card-header
    class="ion-no-padding header-list">
    <ion-row class="ingredient-shopping-container">
      <ion-label>
        {{getRecipeName(shoppingList().items)}}
      </ion-label>
    </ion-row>
  </ion-card-header>

    <ion-row class="ingredient-recipe-list">
      @for(ingr of shoppingList().items; track ingr.ingredientId){
        <ion-item [class.bought]="ingr.bought" >
          <ion-checkbox
            slot="start"
            [checked]="ingr.bought"
            [disabled]="ingr.bought"
            (ionChange)="toggleIngredient(ingr)">
          </ion-checkbox>
          <ion-label>
            <h3>{{ingr.ingredientName}}</h3>
            <p>{{ingr.quantity}} {{ingr.unit}}</p>
          </ion-label>
          @if (!ingr.bought) {
            <ion-icon name="trash-outline"></ion-icon>
          }

        </ion-item>
      }
    </ion-row>
</ion-card>
