.ingredient-card-list{
  border-radius: 30px;
  border: 0.5px solid var(--primary-gray-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); // x-offset, y-offset, blur, color
}

.header-list{
  background: var(--primary-green-color);
}

.ingredient-shopping-container{
  display: flex;
  ion-label{
    width: 100%;
    margin: 5px;
    font-size: 1rem;
    padding: 1rem;
    color: whitesmoke;
    font-weight: bolder;
  }
}

.ingredient-recipe-list{
  display: flex;
  width: 100%;
  padding: 1rem;
  gap: 0.5rem;
  ion-item{
    width: 100%;
    ion-icon{
      position: absolute;
      right: 2rem;
      color: var(--secondary-orange-color);
    }
  }
}

ion-checkbox{

  --checkbox-background-checked: var(--primary-green-color);
  --checkbox-border-color: var(--primary-green-color);
  --checkbox-border-color-checked: var(--primary-green-color);
}


ion-item.bought {
  --background: #dff0d8; // verde claro de ejemplo
  --border-radius: 20px;
  color: #555; // puedes cambiar el color del texto
}

ion-item.bought ion-label h3,
ion-item.bought ion-label p {
  text-decoration: line-through; // tachado de texto
  opacity: 0.7;

}


