

.data-row-profile{
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.4rem;
  ion-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    //background: whitesmoke;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

  }
  //ion-label.cooked { background: #FFD580; h3 { color: #FF6B00; } p{ color: #FF6B00; } }
  //ion-label.favorites { background: #B3E5FC; h3 { color: #0288D1;} p{color: #0288D1 } }
  //ion-label.collections { background: #E1BEE7; h3 { color: #8E24AA; } p{color: #8E24AA} }
    h3{
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
    }
  p {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
  }
}

.preferences{
  display: flex;
  justify-content: center;
  align-items: center;

}

.label-data-profile{
  padding: 1rem;
  h1{
    font-size: 1.5rem;
  }
  p{
    font-size: 1rem;
    color: var(--primary-gray-color);
    font-weight: bold;
  }
}
.preferences-title{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary-green-color);
}
