<ion-modal
  [isOpen]="isOpen()"
  [initialBreakpoint]="1"
  [breakpoints]="[0.45, 1]"
  (didDismiss)="onModalDismiss()">
  <ng-template class="ion-padding">
    <ion-row class="filter-container">
      <ion-col size="8" class="justify-left">
        <ion-label class="title-filter">Filtrar Recetas</ion-label>
      </ion-col>
      <ion-col size="2" class="center-container-column">
        <ion-icon (click)="onClose()" class="close-icon" name="close-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="center-container-column ion-padding filter-row">
      @for(opt of options; track opt.id){
        <ion-item class="toggle-options shadow-box">
          <ion-label>
            <h3><b>{{opt.title}}</b></h3>
            <p>{{ opt.description }}</p>
          </ion-label>
          <ion-toggle
            class="custom-toggle"
            [checked]="isSelected(opt.id)"
            (ionChange)="onToggle(opt.id, $event.detail.checked)"
            slot="end"></ion-toggle>
        </ion-item>
      }
    </ion-row>
  </ng-template>
</ion-modal>
