<ion-modal
  [isOpen]="isOpen()"
  (didDismiss)="onModalDismiss()"
  [backdropDismiss]="true"
  class="bottom-modal">
  <ng-template class="ion-padding">
      <ion-row class="filter-container">
        <ion-col size="8" class="justify-left">
          <ion-label class="title-filter">Filtrar Recetas</ion-label>
        </ion-col>
        <ion-col size="2" class="center-container-column">
          <ion-icon (click)="onClose()" class="close-icon" name="close-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    <ion-row class="center-container-column ion-padding filter-row">
      <ion-item class="toggle-options shadow-box">
        <ion-label>
          <h3><b>Vegetariana</b></h3>
          <p>Evitar recetas con carne o pescado</p>
        </ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
      <ion-item class="toggle-options shadow-box">
        <ion-label>
          <h3><b>Sin Gluten</b></h3>
          <p>Evitar productos con gluten</p>
        </ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
      <ion-item class="toggle-options shadow-box">
        <ion-label>
          <h3><b>Rápidas</b></h3>
          <p>Recetas rápidas < 30 min</p>
        </ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
      <ion-item class="toggle-options shadow-box">
        <ion-label>
          <h3><b>Económicas</b></h3>
          <p>Recetas baratas con coste < 10€</p>
        </ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </ion-row>
  </ng-template>
</ion-modal>
