<app-header></app-header>
<ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true" [fullscreen]="true">
  <ion-grid>
    <ion-row class="header-section-row">
      <ion-col
        (click)="goToBack()"
        class="header-section" size="2">
        <ion-icon class="go-back" name="chevron-back-sharp"></ion-icon>
      </ion-col>
      <ion-col size="10" class="header-section">
        <ion-icon class="icon-section-title" name="cart"></ion-icon><span class="section-title">Mis Compras</span>
      </ion-col>
    </ion-row>
    <app-progress-bar></app-progress-bar>
    <ion-row class="container-ingredient-button">
      <ion-col >
        <ion-button
          (click)="openSelectorIngredient()"
          class="add-ingredient-button">
          <ion-icon name="bag-add-outline"></ion-icon><span>Ingrediente</span>
        </ion-button>
      </ion-col>
      <ion-col >
        <ion-button
          (click)="deleteCompletedIngredients()"
          class="del-ingredient-button">
          <ion-icon name="trash-bin-outline"></ion-icon><span>Completados</span>
        </ion-button>
      </ion-col>
    </ion-row>
    @for(listCart of shoppingLists(); track listCart.id ){
      <ion-col>
        <app-ingredient-card
          [shoppingList]="listCart"
          (ingredientToggled)="recalculateProgress()">
        </app-ingredient-card>
      </ion-col>
    }@empty {
      <ion-row class="empty-collections">
        <ion-col class="ion-text-center">
          <ion-icon name="folder-open-outline" size="large"></ion-icon>
          <p>No existen listas creadas</p>
        </ion-col>
      </ion-row>
    }
  </ion-grid>

</ion-content>
<app-footer-nav></app-footer-nav>
