
<ion-content class="ion-padding">
   <app-session-form (formSubmit)="onLogin($event)"></app-session-form>
  <ion-row class="ion-padding center-container-row">
    <span class="no-account">¿No tienes cuenta? <a class="sign-up" routerLink="/register">Regístrate</a></span>
    <p class="center-container-row or">o</p>
  </ion-row>
  <ion-row class="center-container-row social-buttons">
    <ion-button fill="clear" class="form-buttons-social-red">
      <ion-img src="assets/images/logo_google.png" class="icon"></ion-img>
      Iniciar sesión con Google
    </ion-button>

    <ion-button fill="clear" class="form-buttons-social-red ios-button">
      <ion-img [src]="'assets/images/logo_ios.png'" class="icon"></ion-img>
      Iniciar sesión con Apple
    </ion-button>
  </ion-row>
</ion-content>
