<app-shared-header
  [label]="'Información'"
  [icon]="'information-circle-outline'"
  [bgColor]="'#2B523C'"
></app-shared-header>
<ion-content [fullscreen]="true">
  <ion-row class="row-card">
    <app-desc-shared-card
      [bdColor]="'#FFFFFF'"
      [label]="'Sobre Nuestra Aplicación'"
      [description]="'Somos una plataforma innovadora diseñada para simplificar ' +
       'tu vida digital con la máxima seguridad y facilidad de uso'">
    </app-desc-shared-card>
  </ion-row>
</ion-content>

